@page "/500"

@using System.Diagnostics

<PageTitle>500 - FiyiStack</PageTitle>

<EmptyProject.Components.Layout.NavBarHome></EmptyProject.Components.Layout.NavBarHome>

<div class="page-header align-items-start min-vh-100"
     style="background-image: url(img/System/404Image.png);"
     loading="lazy">
    <span class="mask bg-gradient-dark opacity-6"></span>
    <div class="container my-auto">
        <div class="row">
            <div class="col-lg-12 m-auto text-center">
                <h2 class="text-bolder text-white">
                    ¡Ups! Hubo un error por parte del servidor
                </h2>
                <h5 class="text-white mt-4">
                    Lo sentimos mucho pero ya se ha entregado una notificación a nuestros especialistas
                </h5>
                @if (ShowRequestId)
                {
                    <p class="lead text-white">
                        <strong>ID de consulta:</strong> <code>@RequestId</code>
                    </p>
                }
                <p class="lead text-white">
                    Te recomendamos ir a la página de inicio
                </p>
                <NavLink class="btn bg-gradient-warning mt-4"
                href="/">
                    <i class="fas fa-home"></i>
                    Inicio
                </NavLink>
            </div>
        </div>
    </div>
</div>

<EmptyProject.Components.Layout.FooterHome></EmptyProject.Components.Layout.FooterHome>

@code {

    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    private string? RequestId { get; set; }
    private bool ShowRequestId => !string.IsNullOrEmpty(RequestId);

    protected override void OnInitialized()
    {
        try
        {
            RequestId = Activity.Current?.Id ?? HttpContext?.TraceIdentifier;

            Failure failure = new()
                {
                    Active = true,
                    DateTimeCreation = DateTime.Now,
                    DateTimeLastModification = DateTime.Now,
                    UserCreationId = 1,
                    UserLastModificationId = 1,
                    EmergencyLevel = 1,
                    Comment = "",
                    Message = $@"Request ID: {RequestId}",
                    Source = "",
                    StackTrace = ""
                };

            failureRepository.Add(failure);

            base.OnInitialized();
        }
        catch (Exception ex)
        {
            Failure failure = new()
                {
                    Active = true,
                    DateTimeCreation = DateTime.Now,
                    DateTimeLastModification = DateTime.Now,
                    UserCreationId = 1,
                    UserLastModificationId = 1,
                    EmergencyLevel = 1,
                    Comment = "",
                    Message = ex.Message,
                    Source = ex.Source,
                    StackTrace = ex.StackTrace
                };

            failureRepository.Add(failure);
        }

    }
}