<footer class="footer py-4  ">
    <div class="container-fluid">
        <div class="row align-items-center justify-content-lg-between">
            &nbsp;
        </div>
    </div>
</footer>

@code{
}